.address {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 30px;
  width: 60%;

  .checkout-summary {
    display: flex;
    flex-direction: column;
    width: 35%;

    h5 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 16px;
      margin-left: 15px;
    }

    .list-group {
      .list-group-item {
        display: flex;
        border: 0;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 10px 0;
        border-bottom: 1px solid #dee2e6;

        span {
          font-size: 15px;
        }
        strong {
          font-size: 18px;
        }
        p {
          font-size: 12px;
          color: #6c757d;
        }
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
  .shipping-address {
    display: flex;
    flex-direction: column;
    width: 50%;

    h5 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    input{
      margin-top: 0;
      margin-bottom: 0;
    }
    .address-btn {
      background: #000;
      color: #fff;
      border: none;
      letter-spacing: 0.5;
      font-weight: bolder;
      cursor: pointer;
      line-height: 50px;
      min-width: 165px;
      text-transform: uppercase;
      margin-left: auto;
      display: flex;
      justify-content: center;
      height: 50px;
      margin-top: 20px;
      padding: 0 15px;
      width: auto;
      font-size: 15px;
      align-items: center;
      text-align: end;

      &:hover {
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
      }
    }
  }
}
