.store {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 150px auto 30px;

  h2 {
    font-size: 30px;
    margin: 20px 0;
    text-transform: uppercase;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 50px;
    

    .product-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 360px;
      position: relative;
      background: #fbffdc;

      img {
        height: 90%;
        margin-bottom: 5px;
        object-fit: cover;
        width: 100%;
      }

      .product-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        width: 90%;

        .name {
          
        }
      }
    }
  }
}
